<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE XML>
<Configuration status="DEBUG">
	<Appenders>
<!-- 		<Appender type="Console" name="ConsoleAppender" target="SYSTEM_OUT"> -->
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
<!-- 			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/> -->
			<PatternLayout pattern="%-5level %logger{36} -- %msg%n%throwable"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="ConsoleAppender"/>
		</Root>
		<Logger name="com.listsapp.login.controller.LoginController" level="DEBUG"/>
	</Loggers>
</Configuration>
